.students.left-container
  .add-student
    %h2 Добавить студента
    = simple_form_for Student.new, data: { remote: true, type: 'json' }, method: 'post' do |s|
      = s.input :first_name, label: 'Имя:'
      = s.input :last_name, label: 'Фамилия:'
      = s.input :study_group, label: 'Группа:'
      = s.input :birthday, label: 'Дата рождения:'
      = s.input :email, label: 'Email:'
      = s.input :ip, label: 'IP:'
      = s.input :registered_at, label: 'Дата регистрации:'
      = s.submit 'Создать'

  .students-list
    %h2 Список последних добавленных студентов
    = render 'table', students: @students

  .high-rated-list
    %h2 Список студентов с наивысшим средним баллом
    = render 'table', students: Student.joins(:semesters).group('students.id').order('max(semesters.avg_mark) DESC').limit(10)

  .filter-with-ip-and-characteristic
    %h2 Выборка всех студентов, с IP которых произошло более одной регистрации, и при этом хотя бы у одного из них написана характеристика научного руководителя

  .search-with-filters
    %h2 Поиск студентов по фильтрам
    = simple_form_for :student, method: 'get', data: { remote: true, type: 'json' } do |ss|
      = ss.input :name, label: 'Имя и/или фамилия:', required: false
      = ss.input :study_group, label: 'Группа:', required: false
      = ss.input :semester, label: 'Семестр:', required: false
      = ss.input :avg_mark_down, label: 'Средний балл(от):', required: false
      = ss.input :avg_mark_up, label: 'Средний балл(до):', required: false
      = ss.submit 'Найти', data: { disable_with: 'Ищем...' }
    %table
      %thead
        %tr
          %th Имя
          %th Фамилия
          %th Группа
          %th Дата рождения
          %th Email
          %th IP
          %th Дата регистрации
          %th Семестр
          %th Средний балл
      %tbody

.display-container.right-container
